@font-face {
    font-family: 'Futura';
    src: url('FUTURA76BOLDITALIC.TTF') format('truetype');
  }

body{
background-color: pink;
overflow: hidden;
}

.MainContainer{

}

.user-cards{
display: grid;
grid-template-columns: 1fr;
gap:5px;
width: 405px;
margin-top: 4px;

}

.card{
background-color: rgba(255, 255, 255, 0.5);
padding-top: 10px;
padding-bottom: 10px;
padding-left: 15px;
border-radius: 50px;
}

.SearchInput{

width:350px;
height:50px;
border: none;
background-color: rgba(255, 255, 255, 0.5);
border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    padding-left: 25px;
}

.searchArea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    height: 100vh;
}

.SearchButton{
    height:52px;
    width: 50px;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
}

.PrieText{
    color: white;
    font-size: 1500%;
    font-family: 'Futura', sans-serif;
    margin-left: 0%;
    margin-top: 0px;
    user-select: none;
    z-index: -1;
    position: fixed;
    top: 10%;
    right: -70px;
}

.EtoText{
    color: white;
    font-size: 1500%;
    font-family: 'Futura', sans-serif;
    margin-right: 0%;
    margin-bottom: 0px;
    user-select: none;
    z-index: -1;
    position: relative;
    position: fixed;
    bottom: 20%;
    left: -70px;
}

.PrietoBgText{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.PrietoBg{
    position: absolute;
}

.searchContain{
height: 100%;

}

.Search-Results-Container{
display: grid;
grid-template-columns: repeat(5,1fr);
grid-gap: 5px;

}

@media (min-width: 760px) {
    .EtoText {
        bottom: 1%;
        font-size: 2000%;
    }


    .PrieText {
        top: 1%;
        font-size: 2000%;
        }
}


@media (max-width: 500px) {
    .PrieText {
    right: -60px;
    font-size: 1200%;
    }

    .EtoText {
        right: -60px;
        font-size: 1200%;
    }
}


/* Navigation Bar CSS*/
.NavBarContainer{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

.NavBarLogo{
height: 50px;
}




/* Product-Gen-Page CSS*/
.MainProductInputContainer{
    display : flex;
    flex-direction: column;
justify-content: center;
}

.inputContainer{
display : flex;
flex-direction: column;
font-family: 'Futura';
align-items: center;
}

.variousInputsContainer{
    text-align:left;

}


.Input{
height: 40px;
width: 300px;
background: rgba(255, 255, 255, 0.5);
border: none;

}

.generateProductButton{
height: 40px;
width: 300px;
background-color: rgba(255, 255, 255, 0.5);
border: none;
margin-top: 50px;
}

.uploadButton{

height: 40px;
width: 300px;
background-color: rgba(255, 255, 255, 0.5);
border: none;
padding-top: 15px;
padding-bottom: 15px;
padding-left: 80px;
padding-right: 80px;
}

input[type="file"] {
    display: none;
  }
  

  .hide {
    display: none;
  }