@font-face {
    font-family: 'Futura';
    src: url('path/to/FUTURA76BOLDITALIC.TTF') format('truetype');
  }

body{
background-color: pink;
overflow: hidden;
}

.MainContainer{
display:flex;
flex-direction: column;
}

.PrieText{
color:white;
font-size: 25rem;
font-family: 'Futura', sans-serif;
display:flex;
justify-content: flex-end;
}

.EtoText{
    color:white;
    font-size: 25rem;
    font-family: 'Futura', sans-serif;
    display:flex;
justify-content: flex-start;
}